<html lang="en"><head>
    <meta charset="UTF-8">
    <title>枫叶众包-注册</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <link rel="stylesheet" type="text/css" href="plugins/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/reg.css">
    <link rel="shortcut icon" href="img/枫叶.ico" type="image/x-icon">


    <script type="text/javascript" src="plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script type="text/javascript" src="plugins/bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="plugins/angularjs/angular.min.js"></script>
    <!-- 分页组件开始 -->
    <script src="plugins/angularjs/pagination.js"></script>
    <link rel="stylesheet" href="plugins/angularjs/pagination.css">
    <!-- 分页组件结束 -->
    <script type="text/javascript" src="js/base.js"></script>
    <script type="text/javascript" src="js/base_pagination.js"></script>
    <script type="text/javascript" src="js/service/loginService.js"></script>
    <script type="text/javascript" src="js/service/uploadService.js"></script>
    <script type="text/javascript" src="js/service/compyService.js"></script>
    <script type="text/javascript" src="js/controller/baseController.js"></script>
    <script type="text/javascript" src="js/controller/compyController.js"></script>

</head>
<body ng-app="maple" ng-controller="compyController">
<div class="main">
    <header>
        <div class="container">
            <a href="https://cloud.baidu.com/"><img width="87" height="30" class="logo" src="img/fengye.jpg" alt="枫叶众包"></a>
            <div class="right"><a href="https://cloud.baidu.com/">返回首页  </a></div>
        </div>
    </header>
    <div class="brand">
        <h2>欢迎入住枫叶招聘平台</h2>
        <h3>这里有你需要的精英人才</h3>
    </div>
    <div id="root" ng-app="maple" ng-controller="compyController"><div id="_san_1" class="reg-app">
        <div id="_san_2" class="reg-form"><p id="_san_3" class="login-tip">已有枫叶众包账号、帐号？
            <a id="_san_5" href="sign.html">立即登录</a></p>
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label for="firstname" class="col-sm-2 control-label">账号</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="firstname"  ng-model="entity.compyid" placeholder="请输入公司账号">
                    </div>
                </div>
                <div class="form-group">
                    <label for="lastname2" class="col-sm-2 control-label">公司名称</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="lastname2" ng-model="entity.compyname" placeholder="请输入公司名称">
                    </div>
                </div>
                <div class="form-group">
                    <label for="lastname3" class="col-sm-2 control-label">登陆密码</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="lastname3" ng-model="entity.password" placeholder="请输入登陆密码">
                    </div>
                </div>
                <div class="form-group">
                    <label for="lastname4" class="col-sm-2 control-label">公司注册地址</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="lastname4" ng-model="entity.regaddress" placeholder="请输入公司注册地址">
                    </div>
                </div>
                <div class="form-group">
                    <label for="lastname5" class="col-sm-2 control-label">公司法人姓名</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="lastname5"  ng-model="entity.jurisname" placeholder="请输入法人姓名">
                    </div>
                </div>
                <div class="form-group">
                    <label for="lastname6" class="col-sm-2 control-label">公司法人身份证号</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="lastname6" ng-model="entity.juriscard" placeholder="请输入公司法人身份证号">
                    </div>
                </div>
                <div class="form-group">
                    <label for="lastnam7e" class="col-sm-2 control-label">营业执照号</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="lastnam7e"  ng-model="entity.card1" placeholder="请输入营业执照号">
                    </div>
                </div>
                <div class="form-group">
                    <label for="lastname8" class="col-sm-2 control-label">税务登记号</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="lastname8"  ng-model="entity.card2" placeholder="请输入登记号">
                    </div>
                </div>
                <div class="form-group">
                    <label for="lastname9" class="col-sm-2 control-label">公司联系人姓名</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="lastname9" ng-model="entity.person" placeholder="请输入公司联系人姓名">
                    </div>
                </div>
                <div class="form-group">
                    <label for="lastname0" class="col-sm-2 control-label">公司联系人电话</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="lastname0" ng-model="entity.persontel" placeholder="请输入公司联系人电话">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default" ng-click="add()">登录</button>
                        <a ng-click="add()" href="">degnlu </a>
                    </div>
                </div>
            </form>
            <div id="_san_48" class="agreements">
                <a id="_san_49" href="https://u.baidu.com/ucweb/rules.html" target="_blank">《枫叶众包用户注册协议》</a>
                <a id="_san_52" href="http://e.baidu.com/accept.html" target="_blank">《枫叶众包推广服务合同》</a>
                <a id="_san_55" href="https://u.baidu.com/ucweb/rules-privacy.html" target="_blank">《枫叶众包隐私权保护声明》</a>
            </div>
        </div>
    </div>
    </div>
</div>



<footer style="margin-top: 200px;">© 2019 ztq
    <a href="http://www.baidu.com/duty/" target="_blank">使用枫叶众包前必读</a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="https://cloud.baidu.com/qualification/isp.html" target="_blank">增值电信业务经营许可证：B1.B2-20100266</a>&nbsp;&nbsp;&nbsp;&nbsp;京ICP证030173号&nbsp;&nbsp;&nbsp;&nbsp;
    <a target="blank" href="https://cloud.baidu.com/doc/UserGuide/User_Service_Agreement.html#.E9.9A.90.E7.A7.81.E6.94.BF.E7.AD.96">隐私政策</a>
</footer>

</body>
</html>