<!DOCTYPE html>
<html>

<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>公司完善资料</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">

    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="../plugins/angularjs/angular.min.js">  </script>
    <!-- 分页组件开始 -->
    <script src="../plugins/angularjs/pagination.js"></script>
    <link rel="stylesheet" href="../plugins/angularjs/pagination.css">
    <!-- 分页组件结束 -->

    <script type="text/javascript" src="../js/base.js">  </script>
    <script type="text/javascript" src="../js/base_pagination.js">  </script>
    <script type="text/javascript" src="../js/service/userService.js">  </script>

    <script type="text/javascript" src="../js/controller/baseController.js">  </script>
    <script type="text/javascript" src="../js/controller/userController.js">  </script>
</head>
<body class="layui-layout-body" ng-app="maple" ng-controller="userController"  ng-init="showName()">
<!-- 正文区域 -->
<section class="content">

    <div class="box-body">

        <!--tab页-->
        <div class="nav-tabs-custom">

            <!--tab头-->
            <ul class="nav nav-tabs">

                <li class="active">
                    <a href="#home" data-toggle="tab">提交HR审核</a>

                </li>
            </ul>
            <!--tab头/-->

            <!--tab内容-->
            <div class="tab-content">

                <!--表单内容-->
                <div class="tab-pane active" id="home">
                    <div class="row data-type" ng-if="entity.rolereq==0">
                        <div class="col-md-2 title">公司代码</div>
                        <div class="col-md-10 data">
                            <input type="text" class="form-control" ng-model="entity.compid" placeholder="只能审核一次 审核成功不能修改">
                        </div>


                    </div>
                    <div class="row data-type" ng-if="entity.rolereq==1">
                        <div class="col-md-12 title">已经审核通过 快去发布职位吧</div>
                    </div>
                    <!--<div class="row data-type" ng-if="entity.rolereq==0&&entity.compid!=null">-->
                        <!--<div class="col-md-12 title">已经审核通过 快去发布职位吧</div>-->
                    <!--</div>-->
                    <!--<div class="row data-type" ng-if="entity.compid!=null">-->
                        <!--<div class="col-md-12 title">等待审核中</div>-->
                    <!--</div>-->
                </div>
                <!--表单内容/-->
            </div>
            <!--tab内容/-->


        </div>




    </div>
    <div class="btn-toolbar list-toolbar">
        <button class="btn btn-primary" ng-click="save()"><i class="fa fa-save"></i>提交审核</button>
    </div>

</section>
<!-- 正文区域 /-->


</body>

</html>