<!DOCTYPE html>
<html>

<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>简历资料</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../js/layui/css/layui.css">
    <script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>
    <link href="https://static.zhipin.com/zhipin/v139/web/geek/css/resume.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="../plugins/angularjs/angular.min.js">  </script>
    <!-- 分页组件开始 -->
    <script src="../plugins/angularjs/pagination.js"></script>
    <link rel="stylesheet" href="../plugins/angularjs/pagination.css">
    <!-- 分页组件结束 -->
    <script type="text/javascript" src="../js/base.js">  </script>
    <script type="text/javascript" src="../js/base_pagination.js">  </script>
    <script type="text/javascript" src="../js/service/userjobService.js">  </script>
    <script type="text/javascript" src="../js/controller/baseController2.js">  </script>
    <script type="text/javascript" src="../js/controller/userjobController.js">  </script>
</head>
<body class="layui-layout-body" ng-app="maple" ng-controller="userjobController" ng-init="loadkeywords()">
<!-- .box-body -->
<div class="box-header with-border">
    <h3 class="box-title">投递简历信息        职位名称  {{Jobentity.name}} </h3>
</div>

<div class="box-body">

    <!-- 数据表格 -->
    <div class="table-box">

        <!--工具栏-->
        <div class="pull-left">
            <div class="form-group form-inline">
                       <div class="btn-group">
                         <!--           <button type="button" class="btn btn-default" title="新建" data-toggle="modal" data-target="#editcompy" ng-click="entity={}" ><i class="fa fa-file-o"></i> 新建</button>
                               <button type="button" class="btn btn-default" title="删除" ng-click="dele()"><i class="fa fa-trash-o" ></i> 删除</button>
                             -->  <button type="button" class="btn btn-default" title="刷新" onclick="window.location.reload();"><i class="fa fa-refresh"></i> 刷新</button>
                           <a type="button" class="btn btn-default" href="create.html"><i class="fa fa-refresh"></i> 返回上级</a>
                           </div>
            </div>
        </div>
        <div class="box-tools pull-right">
            <!--      <div class="has-feedback">
                     公司名称:<input ng-model="searchEntity.compyname">
                     <button  class="btn btn-default" ng-click="reloadList()">查询</button>
                 </div> -->
        </div>
        <!--工具栏/-->

        <!--数据列表-->
        <table id="dataList" class="table table-bordered table-striped table-hover dataTable">
            <thead>

            <tr>
                <th class="sorting">姓名</th>
                <th class="sorting">学历</th>
                <th class="sorting">电话</th>
                <th class="sorting" style="text-align: center">简历信息</th>
                <th class="sorting"  style="text-align: center">操作</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="entity in list">
                <!--    <td><input  type="checkbox" ng-click="updateSelection($event, entity.id)" ></td> -->
                <td>{{entity.username}}</td>
                <td> {{entity.level}}  </td>
                <td>{{entity.tel}}</td>
                <td class="text-center">
                    <button style="width: 20px; height: 30px"  type="button" class="btn bg-olive btn-xs" data-toggle="modal" data-target="#editModal" ng-click="findResumeModel(entity.userid)" >查看简历</button>
                </td>
                <td class="text-center">
                    <button  style="width: 20px; height: 30px;" type="button" class="btn bg-olive btn-xs" data-toggle="modal"  ng-click="updateUserJobStatus(Jobentity.id,entity.userid)" >通知面试</button>
                </td>
            </tr>

            </tbody>
        </table>
        <!--数据列表/-->
        <tm-pagination conf="paginationConf"></tm-pagination>

    </div>
    <!-- 数据表格 /-->




</div>
<!-- /.box-body -->

<!-- 编辑窗口 -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" >
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">简历信息</h3>
            </div>
            <div class="modal-body">
                <div class="basis">
                    <img class='basis-img' src="{{ResumeModel.user.picpath}}">
                    <dl class="basis-text">
                        <dt class="name">{{ResumeModel.user.username}}</dt>
                        <dd>
                            年龄： {{ResumeModel.user.age}} <span class="devide first">|</span>



                            性别： {{ResumeModel.user.sex}}

                            <span class="devide">|</span>
                            学历： {{ResumeModel.user.level}}<span class="devide">|</span>

                        </dd>
                        <dd>电话：{{ResumeModel.user.tel}}</dd>
                    </dl>
                </div>

                <div class="sec">
                    <h3 class="sec-title">个人优势</h3>
                    <p class="sec-content">{{ResumeModel.resume.peradv}}</p>
                </div>


                <div class="sec expect-pos">
                    <h3 class="sec-title">期望职位</h3>
                    <div class="sec-content">



                        <div class="pos-select">
                            <div class="option-slted">
                                        <span class="option-value">
                                       {{ResumeModel.resume.postionid}} &nbsp;&nbsp;&nbsp; {{ResumeModel.resume.cityid}} &nbsp;&nbsp;&nbsp; {{ResumeModel.resume.startpd}}-{{ResumeModel.resume.endpd}} &nbsp;&nbsp;&nbsp;
                                        </span>

                            </div>

                        </div>


                    </div>
                </div>





                <div class="sec">
                    <h3 class="sec-title">项目经历</h3>



                    <div class="sec-content" ng-repeat="entity in ResumeModel.projectList ">
                        <div class="from"> {{entity.projectname}} </div>
                        <div class="major">
                            <span class="time"> {{entity.startdate}} - {{entity.enddate}} </span>
                            {{entity.role}}
                        </div>
                        <p><b>描述：</b> {{entity.content}} </p>
                        <p><b>业绩：</b> {{entity.grade}} </p>

                    </div>



                </div>





                <div class="sec">
                    <h3 class="sec-title">教育经历</h3>

                    <div class="sec-content" ng-repeat="entity in ResumeModel.eduList">
                        <div class="from">{{entity.eduname}}</div>
                        <div class="major">
                            <span class="time"> {{entity.startdate}} - {{entity.enddate}}</span>
                            {{entity.edupro}}<span class="devide">|</span>本科
                        </div>

                        <p><b>在校经历：</b> {{entity.content}}</p>

                    </div>

                </div>


                <div class="sec">
                    <h3 class="sec-title">实习经历</h3>

                    <div class="sec-content" ng-repeat="entity in ResumeModel.praticeList">
                        <div class="from">{{entity.compyname}}</div>
                        <div class="major">
                            <span class="time">{{entity.startdate}} - {{entity.enddate}}</span>
                            部门： {{entity.department}}<span class="devide">|</span>本科
                        </div>
                        <p><b>描述：</b> {{entity.content}} </p>
                        <p><b>业绩：</b> {{entity.grade}} </p>

                    </div>

                </div>

            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</button>
            </div>
        </div>
    </div>
</div>

</body>

<script src="../js/layui/layui.js" charset="utf-8"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script>
    layui.use('laydate', function(){
        var laydate = layui.laydate;

        //执行一个laydate实例
        laydate.render({
            elem: '#test1' //指定元素
        });

        laydate.render({
            elem: '#test2' //指定元素
        });
    });
</script>
</html>

