<!DOCTYPE html>
<html>

<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>公司完善资料</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">

    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="../plugins/angularjs/angular.min.js">  </script>
    <!-- 分页组件开始 -->
    <script src="../plugins/angularjs/pagination.js"></script>
    <link rel="stylesheet" href="../plugins/angularjs/pagination.css">
    <!-- 分页组件结束 -->

    <script type="text/javascript" src="../js/base.js">  </script>
    <script type="text/javascript" src="../js/base_pagination.js">  </script>
    <script type="text/javascript" src="../js/service/resumeService.js">  </script>
    <!--<script type="text/javascript" src="../js/controller/baseController.js">  </script>-->
    <script type="text/javascript" src="../js/controller/resumeController.js">  </script>
</head>
<body class="layui-layout-body" ng-app="maple" ng-controller="resumeController" ng-init="findOnebyuserid()">
<!-- 正文区域 -->
<section class="content">

    <div class="box-body">

        <!--tab页-->
        <div class="nav-tabs-custom">

            <!--tab头-->
            <ul class="nav nav-tabs">

                <li class="active">
                    <a href="#home" data-toggle="tab">个人基本信息</a>

                </li>
            </ul>
            <!--tab头/-->

            <!--tab内容-->
            <div class="tab-content">

                <!--表单内容-->
                <div class="tab-pane active" id="home">
                    <div class="row data-type">

                        <div class="col-md-2 title">期望工作城市</div>
                        <div class="col-md-10 data">
                            <input type="text" class="form-control" ng-model="entity.cityid"  placeholder="期望工作城市" value="">
                        </div>

                        <div class="col-md-2 title">社交主页</div>
                        <div class="col-md-10 data">
                            <input type="text" class="form-control"  ng-model="entity.socialurl"   placeholder="社交主页" value="">
                        </div>


                        <div class="col-md-2 title">期望最低薪资</div>
                        <div class="col-md-10 data">
                            <input type="text" class="form-control" ng-model="entity.startpd"   placeholder="期望最低薪资" value="">
                        </div>



                        <div class="col-md-2 title">期望最高薪资</div>
                        <div class="col-md-10 data">
                            <input type="text" class="form-control" ng-model="entity.endpd"    placeholder="期望最高薪资" value="">
                        </div>

                        <div class="col-md-2 title">个人优势</div>
                        <div class="col-sm-10 data">
                            <input type="text" class="form-control" ng-model="entity.peradv"    placeholder="个人优势" value="">
                        </div>
                        <div class="col-md-12 title">期望职位类型</div>
                        <select class="form-control"  ng-model="entity.postionid">
                            <option value="技术">技术</option>
                            <option value="产品">产品</option>
                            <option value="设计">设计</option>
                        </select>

                    </div>
                </div>
                <!--表单内容/-->
            </div>
            <!--tab内容/-->


        </div>




    </div>
    <div class="btn-toolbar list-toolbar">
        <button class="btn btn-primary" ng-click="save()"><i class="fa fa-save"></i>保存</button>
    </div>

</section>
<!-- 正文区域 /-->


</body>

</html>