
.company-tab-box ul {
    height: 416px
}

.company-tab-box ul li {
    height: 138px;
    width: 25%;
    float: left
}

.company-tab-box li a {
    color: #414a60;
    display: block
}

.company-tab-box li .sub-li {
    display: block;
    border-left: solid 2px #f6f6f8;
    border-bottom: solid 2px #f6f6f8;
    height: 100%;
    margin-left: -2px
}

.company-tab-box li .sub-li:hover {
    box-shadow: 5px 5px 20px rgba(0,0,0,.05);
    border-bottom-color: #eaebef;
    border-left-color: #edeef2;
    position: relative;
    z-index: 10
}

.company-tab-box li .company-info {
    height: 75px;
    width: 205px;
    margin: 0 auto 0 auto;
    padding-top: 20px;
    border-bottom: dashed 1px #ededed
}

.company-tab-box li .company-info:hover {
    color: #00d7c6
}

.company-tab-box li .company-info img {
    height: 55px;
    width: 55px;
    float: left;
    border-radius: 10px;
    border: solid 1px #f2f5fa
}

.company-tab-box li .conpany-text {
    margin-left: 65px;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis
}

.company-tab-box li .conpany-text p .industry {
    max-width: 59px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
    height: 12px;
    line-height: 12px;
    position: relative;
    top: 3px
}

.company-tab-box li .conpany-text h4 {
    height: 25px;
    line-height: 25px;
    font-size: 16px;
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.company-tab-box li .conpany-text h4 a:hover {
    color: #61687c
}

.company-tab-box li .conpany-text p {
    height: 40px;
    line-height: 41px;
    color: #898e9d;
    font-size: 12px;
    display: inline-block;
    white-space: nowrap
}

@media screen and (min-width: 0\0) {
    .company-tab-box li .conpany-text p {
        overflow:hidden;
        text-overflow: ellipsis;
        display: block
    }
}

@-moz-document url-prefix() {
    .company-tab-box li .conpany-text {
        margin-left: 65px;
        text-align: right;
        overflow: auto;
        text-overflow: unset
    }

    .company-tab-box li .conpany-text p {
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%
    }
}

.company-tab-box li .about-info {
    color: #8d92a1;
    height: 42px;
    line-height: 42px;
    font-size: 12px
}

.company-tab-box li .about-info p {
    width: 205px;
    margin: 0 auto
}

.company-tab-box li .about-info:hover {
    background: #fafafa
}

.company-tab-box li .pull-right {
    text-align: right;
    float: right
}
