<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.maple.mapper.JobMapper" >
  <resultMap id="BaseResultMap" type="com.maple.pojo.Job" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="compid" property="compid" jdbcType="VARCHAR" />
    <result column="userid" property="userid" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="postionid" property="postionid" jdbcType="VARCHAR" />
    <result column="skill" property="skill" jdbcType="INTEGER" />
    <result column="province" property="province" jdbcType="INTEGER" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="jobreq" property="jobreq" jdbcType="VARCHAR" />
    <result column="nature" property="nature" jdbcType="VARCHAR" />
    <result column="level" property="level" jdbcType="VARCHAR" />
    <result column="exp" property="exp" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="startpd" property="startpd" jdbcType="VARCHAR" />
    <result column="endpd" property="endpd" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="creatine" property="creatine" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, compid, userid, name, postionid, skill, province, city, jobreq, nature, level, 
    exp, content, startpd, endpd, status, creatine
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.maple.pojo.JobExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from job
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from job
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from job
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.maple.pojo.JobExample" >
    delete from job
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.maple.pojo.Job" >
    insert into job (id, compid, userid, 
      name, postionid, skill, 
      province, city, jobreq, 
      nature, level, exp, 
      content, startpd, endpd, 
      status, creatine)
    values (#{id,jdbcType=INTEGER}, #{compid,jdbcType=VARCHAR}, #{userid,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{postionid,jdbcType=VARCHAR}, #{skill,jdbcType=INTEGER}, 
      #{province,jdbcType=INTEGER}, #{city,jdbcType=VARCHAR}, #{jobreq,jdbcType=VARCHAR}, 
      #{nature,jdbcType=VARCHAR}, #{level,jdbcType=VARCHAR}, #{exp,jdbcType=VARCHAR}, 
      #{content,jdbcType=VARCHAR}, #{startpd,jdbcType=VARCHAR}, #{endpd,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER}, #{creatine,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.maple.pojo.Job" >
    insert into job
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="compid != null" >
        compid,
      </if>
      <if test="userid != null" >
        userid,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="postionid != null" >
        postionid,
      </if>
      <if test="skill != null" >
        skill,
      </if>
      <if test="province != null" >
        province,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="jobreq != null" >
        jobreq,
      </if>
      <if test="nature != null" >
        nature,
      </if>
      <if test="level != null" >
        level,
      </if>
      <if test="exp != null" >
        exp,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="startpd != null" >
        startpd,
      </if>
      <if test="endpd != null" >
        endpd,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="creatine != null" >
        creatine,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="compid != null" >
        #{compid,jdbcType=VARCHAR},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="postionid != null" >
        #{postionid,jdbcType=VARCHAR},
      </if>
      <if test="skill != null" >
        #{skill,jdbcType=INTEGER},
      </if>
      <if test="province != null" >
        #{province,jdbcType=INTEGER},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="jobreq != null" >
        #{jobreq,jdbcType=VARCHAR},
      </if>
      <if test="nature != null" >
        #{nature,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        #{level,jdbcType=VARCHAR},
      </if>
      <if test="exp != null" >
        #{exp,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="startpd != null" >
        #{startpd,jdbcType=VARCHAR},
      </if>
      <if test="endpd != null" >
        #{endpd,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="creatine != null" >
        #{creatine,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.maple.pojo.JobExample" resultType="java.lang.Integer" >
    select count(*) from job
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update job
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.compid != null" >
        compid = #{record.compid,jdbcType=VARCHAR},
      </if>
      <if test="record.userid != null" >
        userid = #{record.userid,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.postionid != null" >
        postionid = #{record.postionid,jdbcType=VARCHAR},
      </if>
      <if test="record.skill != null" >
        skill = #{record.skill,jdbcType=INTEGER},
      </if>
      <if test="record.province != null" >
        province = #{record.province,jdbcType=INTEGER},
      </if>
      <if test="record.city != null" >
        city = #{record.city,jdbcType=VARCHAR},
      </if>
      <if test="record.jobreq != null" >
        jobreq = #{record.jobreq,jdbcType=VARCHAR},
      </if>
      <if test="record.nature != null" >
        nature = #{record.nature,jdbcType=VARCHAR},
      </if>
      <if test="record.level != null" >
        level = #{record.level,jdbcType=VARCHAR},
      </if>
      <if test="record.exp != null" >
        exp = #{record.exp,jdbcType=VARCHAR},
      </if>
      <if test="record.content != null" >
        content = #{record.content,jdbcType=VARCHAR},
      </if>
      <if test="record.startpd != null" >
        startpd = #{record.startpd,jdbcType=VARCHAR},
      </if>
      <if test="record.endpd != null" >
        endpd = #{record.endpd,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.creatine != null" >
        creatine = #{record.creatine,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update job
    set id = #{record.id,jdbcType=INTEGER},
      compid = #{record.compid,jdbcType=VARCHAR},
      userid = #{record.userid,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      postionid = #{record.postionid,jdbcType=VARCHAR},
      skill = #{record.skill,jdbcType=INTEGER},
      province = #{record.province,jdbcType=INTEGER},
      city = #{record.city,jdbcType=VARCHAR},
      jobreq = #{record.jobreq,jdbcType=VARCHAR},
      nature = #{record.nature,jdbcType=VARCHAR},
      level = #{record.level,jdbcType=VARCHAR},
      exp = #{record.exp,jdbcType=VARCHAR},
      content = #{record.content,jdbcType=VARCHAR},
      startpd = #{record.startpd,jdbcType=VARCHAR},
      endpd = #{record.endpd,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=INTEGER},
      creatine = #{record.creatine,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.maple.pojo.Job" >
    update job
    <set >
      <if test="compid != null" >
        compid = #{compid,jdbcType=VARCHAR},
      </if>
      <if test="userid != null" >
        userid = #{userid,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="postionid != null" >
        postionid = #{postionid,jdbcType=VARCHAR},
      </if>
      <if test="skill != null" >
        skill = #{skill,jdbcType=INTEGER},
      </if>
      <if test="province != null" >
        province = #{province,jdbcType=INTEGER},
      </if>
      <if test="city != null" >
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="jobreq != null" >
        jobreq = #{jobreq,jdbcType=VARCHAR},
      </if>
      <if test="nature != null" >
        nature = #{nature,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        level = #{level,jdbcType=VARCHAR},
      </if>
      <if test="exp != null" >
        exp = #{exp,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="startpd != null" >
        startpd = #{startpd,jdbcType=VARCHAR},
      </if>
      <if test="endpd != null" >
        endpd = #{endpd,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="creatine != null" >
        creatine = #{creatine,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.maple.pojo.Job" >
    update job
    set compid = #{compid,jdbcType=VARCHAR},
      userid = #{userid,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      postionid = #{postionid,jdbcType=VARCHAR},
      skill = #{skill,jdbcType=INTEGER},
      province = #{province,jdbcType=INTEGER},
      city = #{city,jdbcType=VARCHAR},
      jobreq = #{jobreq,jdbcType=VARCHAR},
      nature = #{nature,jdbcType=VARCHAR},
      level = #{level,jdbcType=VARCHAR},
      exp = #{exp,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      startpd = #{startpd,jdbcType=VARCHAR},
      endpd = #{endpd,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      creatine = #{creatine,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>